<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/welcome.css">
</head>
<body>
    <div class="wrapper">
        <nav>
            <ul>
                <li class="selected"><a href="#">Welcome</a></li>
                <li><a href="#">MyProfile </a></li>
                <li><a href="/user_admin">User</a></li>
                <li><a href="/access_request">Access Requests</a></li>
            </ul> 
        </nav>
        <div class="main">
            <header>
                <h1>Gamer Management</h1>
            </header>
            <div class="welcome">
                <h3>
                    Welcome Administrator
                </h3>
            </div>
       </div>
        <a href="#" class="logout"><button>logout</button></a>     
    </div>
</body>
</html>