@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
   
    
}
body{
    background: #A2C4C9;
}

.wrapper{
    display: flex;
    position: relative;

}

nav{
    position: fixed;
    width: 200px;
    height: 100%;
    background: white;
    padding: 30px 0;
}

.wrapper nav ul li{
    padding: 15px;
    
}

.wrapper nav ul li a{
    color: black;
    display: block;
}

.wrapper nav ul li:hover{
    background: dimgray;
}

.wrapper nav ul li:hover a{
    color: white;
}

.main{
    margin-left: 200px;
    width: 100%;
}
.main .welcome{
    margin-top: 200px;
    text-align: center;
    
}

.main header{
    margin-left: 100px;
    padding-top: 20px;
    display: flex;
}
.logout{
    padding: 10px;
    
}

.selected{
    background: #A2C4C9;
}


.errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid tomato;
    max-width: 500px;
    margin: 0 auto;
}

.errors p {
    color: tomato;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=tel]{
    width: 25%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select{
   width: 25%;
   padding: 10px 15px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   box-sizing: border-box;
}